<ion-view view-title="Forgot your password?">

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>Back
    </ion-nav-back-button>



  </ion-nav-bar>

  <div class="bar bar-subheader bar-stable">
<h4 class="title">We'll email you a new Password</h4>
</div>

  <ion-content class="padding">

    <br/>

    <div style="text-align: center;"><!--<img src="img/fullLogo-3opc.png" height="" /></div>-->


      <div class="list list-inset" style="margin-top:px;">

        <h4>Please enter your email address and we'll email you a new Password </h4>

        <h4 style="text-align:center;"></h4>

       <label class="item item-input">
         <input type="text" ng-model="user.email" placeholder="Your Email Address">
       </label>

     </div>



             <div class="padding">
               <button class="button button-block button-positive" ng-click="resetPassword(user)">
                 <b>Get New Password</b>
               </button>




             </div>





  </ion-content>
</ion-view>
