<ion-view view-title="Urine Reading - Step 3 of 4">
  <div class="bar bar-subheader bar-stable">
<h4 class="title"> Checking your Protein Level</h4>
</div>

  <ion-content class="padding">
<br/>
<br/>


<div class="list card" style="text-align:center">

<p class="errorText">
<!--
  It will take approx 1 minute to take the reading. <br/><br/><br/>-->


Now, press the <span class="empha">Start Button</span> on the Urine Analyser and Press Continue <br/><br />

<img src="img/uaStartButton.jpg" style="height:170px;" />




<!--  <strong>When the Urine Analyser displays the result, press <b>'Get Urine Reading'</b>  below.</strong></p>-->

</div>





  <button class="button button-block button-royal" style="height:70px;font-size:24px;" ui-sref="tab.proteinStep2_2">
  <i class="ion-beaker" style="font-size: 35px;"></i>     <b>Continue</b>
</button>



 <!--<button class="button button-block button-royal" style="height:70px;font-size:24px;" ui-sref="tab.proteinStep3">
    <b>Get Urine Reading</b>
</button> -->





  </ion-content>
</ion-view>
