<ion-view view-title="My Readings">
  <ion-content>

      <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">  </ion-refresher>
    <!--
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  -->



<!--
<button class="button button-energized" ng-click="showLogData(1601)">GET Log Data</button>
<br/>
<br/> -->

<!-- {"protein_reading_id":1,"chguserid":20,"monitoring_device_id":17,"protein_reading":" Nil","phone_meta_data_id":853,"createdat":"2016-05-10T14:02:04.561Z"} -->





    <ion-list>
      <ion-item class="log-header" style="font-size:14px;color:#fff;font-weight:bold;background-color: #ffc900">Previous Urine Protein Readings</ion-item>
      <ion-item style="font-size:12px;" ng-repeat="reading in prReadings | orderBy:'-createdat';" type="item-text-wrap" item="item" ng-repeat="item in items">

     Date/Time : <b>{{ reading.createdat}}</b> <br/>  <b>Protein Reading:</b> {{ reading.protein_reading}}
     <br />
     <b>Headaches: </b> {{reading.headacheflag}} - <b>Visual Disturbances: </b> {{ reading.visualdisturbancesflag }} <br /> <b>EpiG Pain: </b> {{ reading.epigastricpainflag }}



      </ion-item>
    </ion-list>










<!--


    <ion-item item="item" style="font-size:12px;">
      MAP = [(2 x diastolic)+systolic] / 3
    <b>09:46 hrs:</b> Blood Pressure <br /> <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33

    </ion-item>

        <ion-item item="item" style="font-size:12px;">
  <b>08:32 hrs:</b> Protein <br />  <b>Protein:</b> 0.85
        </ion-item>


        <ion-item item="item" style="font-size:12px;">
  <b>06:55 hrs</b> Blood Pressure <br /> <b>DIA:</b> 69  -  <b>SYS:</b> 140  - <b>HR:</b> 69 - <b>MAP:</b> 100.39
        </ion-item>


         <ion-item class="log-header" style="font-size:14px;color:#fff;font-weight:bold;" > Wed 13 Jan 2016: 3 Readings </ion-item>



    <ion-item item="item" style="font-size:12px;">
<b>21:40 hrs:</b> Blood Pressure <br />  <b>DIA:</b> 71  -  <b>SYS:</b> 120  - <b>HR:</b> 65 - <b>MAP:</b> 87.34
    </ion-item>

            <ion-item item="item" style="font-size:12px;">
      <b>18:09 hrs:</b> Protein <br />  <b>Protein:</b> 0.99
            </ion-item>

        <ion-item item="item" style="font-size:12px;">
  <b>15:11 hrs:</b> Blood Pressure <br /> <b>DIA:</b> 79  -  <b>SYS:</b> 143  - <b>HR:</b> 79 - <b>MAP:</b> 112.45
        </ion-item>

            <ion-item item="item" style="font-size:12px;">
  <b>08:46 hrs:</b> Blood Pressure <br />  <b>DIA:</b> 70  -  <b>SYS:</b> 138  - <b>HR:</b> 59 - <b>MAP:</b> 105.44
            </ion-item>


       <ion-item  class="log-header" style="font-size:14px;color:#fff;font-weight:bold;" > Tues 12 Jan 2016: 4 Readings </ion-item>



    <ion-item item="item" style="font-size:12px;">
<b>22:33 hrs:</b> Blood Pressure <br />  <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 65 - <b>MAP:</b> 95.09
    </ion-item>

        <ion-item item="item" style="font-size:12px;">
<b>16:13 hrs:</b> Blood Pressure <br /> <b>DIA:</b> 67  -  <b>SYS:</b> 110  - <b>HR:</b> 59 - <b>MAP:</b> 69.09
        </ion-item>


        <ion-item item="item" style="font-size:12px;">
  <b>14:32 hrs:</b> Protein <br />  <b>Protein:</b> 0.89
        </ion-item>

            <ion-item item="item" style="font-size:12px;">
<b>10:46 hrs:</b> Blood Pressure <br />  <b>DIA:</b> 79  -  <b>SYS:</b> 115  - <b>HR:</b> 61 - <b>MAP:</b> 80.55
            </ion-item>

                <ion-item item="item" style="font-size:12px;">
<b>06:40 hrs:</b> Blood Pressure <br />  <b>DIA:</b> 87  -  <b>SYS:</b> 110  - <b>HR:</b> 69 - <b>MAP:</b> 98.00
                </ion-item>



       <ion-item class="log-header" style="font-size:14px;color:#fff;font-weight:bold;" > Mon 11 Jan 2016: 2 Readings  </ion-item>


        <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 13:46 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33
        </ion-item>

            <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 13:46 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33
            </ion-item>


        <ion-item item="item" style="font-size:12px;">
  <b>08:55 hrs:</b> Protein <br />  <b>Protein:</b> 0.65
        </ion-item>





       <ion-item class="log-header" style="font-size:14px;color:#fff;font-weight:bold;" >Sun 10 Jan 2016: 1 Reading </ion-item>


        <ion-item item="item" style="font-size:12px;">
  <b>16:32 hrs:</b> Protein <br />  <b>Protein:</b> 0.88
        </ion-item>




       <ion-item class="log-header" style="font-size:14px;color:#fff;font-weight:bold;" > Sat 09 Jan 2016: 1 Reading</ion-item>



      <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 13:46 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33
      </ion-item>



     <ion-item class="log-header" style="font-size:14px;color:#fff;font-weight:bold;" > Fri, 8 Jan 2016: 5 Readings</ion-item>


         <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 13:46 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33
         </ion-item>

             <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 13:46 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33
             </ion-item>

                 <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 13:46 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33
                 </ion-item>

                     <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 13:46 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33
                     </ion-item>

                         <ion-item item="item" style="font-size:12px;">
  <b>Time:</b> 13:46 - <b>DIA:</b> 77  -  <b>SYS:</b> 130  - <b>HR:</b> 59 - <b>MAP:</b> 91.33
                         </ion-item>




      </ion-list>

-->






  </ion-content>
</ion-view>
