<ion-view view-title="Connection Closed">
  <div class="bar bar-subheader bar-stable">
<h4 class="title">Bluetooth Connection Closed</h4>
</div>

  <ion-content class="padding">

<br/>
<br />

<div class="list card" style="text-align:center">



<h4>The Connection between the Blood Pressure Monitor and the App has been closed.</h4>




</div>

<br/>




  <button class="button button-block button-balanced" style="height:70px;font-size:24px;" ui-sref="tab.dash">
    <b>Back to Home Screen</b>
</button>








  </ion-content>
</ion-view>
