<ion-view view-title="Help">
  <ion-content>

  <div class="list card" style="text-align:center">


<p><b>Videos were done in Android but the process is identical in iOS </b></p>

 <h4 class="empha2">Taking a BP Reading</h4>
<!--<iframe width="320" height="260"  src="https://www.youtube.com/watch?v=r1stFsgLivc" frameborder="0" allowfullscreen></iframe>-->
<iframe width="320" height="260" src="https://www.youtube.com/embed/r1stFsgLivc" frameborder="0" allowfullscreen></iframe>
<br/>

<h4 class="empha2">Pairing Android Phone to BP Monitor</h4>
<p>Pairing is not neccessary on iPhone/iOS</p>
<iframe width="320" height="260" src="https://www.youtube.com/embed/AU079UcrZ-M" frameborder="0" allowfullscreen></iframe>
<br/>

<h4 class="empha2">Handling a BP Monitor Error</h4>
<iframe width="320" height="260" src="https://www.youtube.com/embed/CgVp3Tz2J3I" frameborder="0" allowfullscreen></iframe>
<br/>

   </div>




</div>






  </ion-content>
</ion-view>
