<ion-view view-title="Thank You">
  <ion-content class="padding">

<div class="list card" style="text-align:center">


    <h4>Thank You for Submitting your Feedback!</h4>


<br/>
<br/>
<br/>


   <button class="button button-full button-balanced" style="height:70px;font-size:20px;" ui-sref="tab.dash">
    <b>Continue!</b>
</button>










<br/>
<br/>


<br/>
<br/>

</div>
  </ion-content>
</ion-view>
