<ion-view view-title="Other Screens (demo only)">
  <ion-content class="padding">

<br/>
<br/>

<div style="margin-left:auto; margin-right:auto;width:100%; text-align:center;">


<h4>BP Warning Screens (Medical Alerts)</h4>

<button class="button button-light" ui-sref="tab.bpWarningCombined1">
  Borderline High BP & 1 Symptom
</button>
<br/>
<button class="button button-light" ui-sref="tab.bpWarningCombined2">
  Borderline High BP & Protein >= Trace
</button>
<br/>

<button class="button button-light" ui-sref="tab.symptomWarning">
  >1 Pregnancy Symptoms Detected
</button>
<br/>




<button class="button button-light" ui-sref="tab.bpWarning1">
  1st High BP Reading
</button>
<br/>

<button class="button button-light" ui-sref="tab.bpWarning2">
  2nd High BP Reading
</button>
<br/>



<button class="button button-light" ui-sref="tab.bpWarningLow">
  1st Low BP Reading
</button>
<br/>
<button class="button button-light" ui-sref="tab.bpWarningLow2">
  2nd Low BP Reading
</button>

<button class="button button-light" ui-sref="tab.bpWarningAFIB">
  BP Monitor AFIB Warning
</button>
<br/>




<br/>
<br/>



<h4>BP Monitor Errors</h4>
<button class="button button-light" ui-sref="tab.bpError1">
  Pulse Signals Too Weak
</button>
<br/>

<button class="button button-light" ui-sref="tab.bpError2">
Signal Error
</button>
<br/>

<button class="button button-light" ui-sref="tab.bpError3">
 No Pressure in Cuff
</button>
<br/>

<button class="button button-light" ui-sref="tab.bpError5">
Abnormal Result
</button>
<br/>

<button class="button button-light" ui-sref="tab.bpErrorHI">
Pulse or Cuff Pressure Too High
</button>
<br/>

<button class="button button-light" ui-sref="tab.bpErrorLO">
Pulse or Cuff Pressure Too Low
</button>

<Br/>
<br/>

<h4>Urine Analyser Errors (not complete)</h4>
<button class="button button-light" ui-sref="tab.urineError1">
  Error 1
</button>

<button class="button button-light" ui-sref="tab.urineError2">
 Error 2
</button>

<button class="button button-light" ui-sref="tab.urineError3">
 Error 3
</button>

<button class="button button-light" ui-sref="tab.urineError4">
 Error 4
</button>



<br/>
<br/>

<h4>Other Screens</h4>
<button class="button button-dark" ui-sref="tab.appFeedback">
App Feedback Screen
</button>

<button class="button button-dark" ui-sref="signin">
Login Screen
</button>

<button class="button button-dark" ui-sref="forgotpassword">
Forgot Password
</button>



 <button class="button button-dark" ng-click="modal.show()">PIN</button>












</div>





  </ion-content>
</ion-view>
