<ion-view view-title="Urine Reading - Step 3 of 4">
  <div class="bar bar-subheader bar-stable">
<h4 class="title"> Checking your Protein Level</h4>
</div>

  <ion-content class="padding">
<br/>
<br/>


<div class="list card" style="text-align:center">

<p class="errorText">
<!--
  It will take approx 1 minute to take the reading. <br/><br/><br/>-->

<!--
<b>When the Urine Analyser has completed the Reading, it will display the Protein Value on the screen and it will also print it out.</b>
<br/><br/> Please use the below Dropdown Menu to enter the Reading Value. You'll find it on the Receipt.<br/><br />
-->


<!--<select ng-model="selectedProteinOutcome" ng-options="x for (x, y) in ProteinOutcomes">
</select>-->

Submit the Protein Value from the Urine Analyser (It will be on the Screen and the Printout) <br/><br/>



   <div class = "list">

    <!--  <label class = "item item-input item-select item-dark">
         <div class = "input-label">
          <h2 style="color:#fff;font-weight:bold;">Value:</h2>
         </div>

         <select ng-model="selectedProteinOutcome" ng-options="x for (x, y) in ProteinOutcomes" >

         </select>
      </label>

      <br/>
      <br/>

      "" : "",
      "Nil" : "Nil",
      "Trace" : "Trace",
      "+1" : "+1",
      "+2 ": "+2",
      "+3": "+3",
      "Urine Analyser Error" : "Urine Analyser Error" -->

      <label class = "item item-input item-select item-dark">
         <div class = "input-label">
          <h2 style="color:#fff;font-weight:bold;">Value:</h2>
         </div>
         <select name="singleSelect" ng-model="data.singleSelect" ng-disabled="{{proteinEnabled.value1}}">
           <option value="Neg">Norm / Neg</option>
           <option value="+1">+1</option>
           <option value="+2">+2</option>
           <option value="+3">+3</option>
           <option value="+4">+4</option>
           <option value="Urine Analyser Error">Urine Analyser Error</option>
         </select>
      </label>









   </div>




<!--  <strong>When the Urine Analyser displays the result, press <b>'Get Urine Reading'</b>  below.</strong></p>-->

</div>

<br/>


  <button class="button button-block button-royal" style="height:70px;font-size:24px;"  ng-disabled="{{proteinEnabled.value1}}" ng-click = "captureProtein(data.singleSelect)">
   <i class="ion-beaker" style="font-size: 35px;"></i>     <b>Continue</b>
</button>



 <!--<button class="button button-block button-royal" style="height:70px;font-size:24px;" ui-sref="tab.proteinStep3">
    <b>Get Urine Reading</b>
</button> -->





  </ion-content>
</ion-view>
