/* Empty. Add your own CSS if you like */


.loadingDiv {height: 300px !important; text-align:center;}


/* Anti-Tamper PIN stuff */
.center-vertical {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.center-vertical > * {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}



.button-stretch {
    width: 100%;
}

.col-offset-15 {
    margin-left: 15%;
}













/* Original MAROON bg  + border Color!
 .bar.bar-positive, .button.button-positive, .button.button-positive:hover  {background-color:#611058;border-color:#3f0a39;}
  */

/* #4f3d8c #302553  Logo Purple bar bg and border colors */
.bar.bar-positive, .button.button-positive, .button.button-positive:hover  {background-color:#4f3d8c; border-color:#302553;}


.button.button-positive {border-width:1px; border-radius:6px; box-shadow: 5px 6px 5px -1px rgba(0,0,0,0.28);}

/*.button.button-energized, .button.button-energized:hover  {background-color:#ffc900 ;border:1px solid #bed08a; color:#fff !important; border-width:1px; border-radius:6px; box-shadow: 5px 6px 5px -1px rgba(0,0,0,0.28);}*/

.button.button-balanced {
    border-color: #0d89cb;
    background-color: #11a7f7;
    color: #fff;

  }

      .button.button-balanced:hover {
      color: #fff;
      text-decoration: none; }

    .button.button-balanced.active, .button.button-balanced.activated {
      border-color: #074f75;
      background-color: #0d89cb;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }







/* MAROON
.tabs {  border-color: #3f0a39; background-color: #611058;  } */
/* Logo color */
.tabs { background-color:#4f3d8c; border-color:#302553;}


.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item
{
  font-size: px;line-height: 14px;
  font-size: 11px;
  font-weight: bold;
  margin-top: 16px;
  color:#fff;
}


  ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #fff; }


.log-header {background-color: #11a7f7; color: #fff !important;}

.empha {font-size:px;  font-weight: bold;}

.empha3 {font-size:22px;  font-weight: bold;}


.empha2 {font-size:23px; color:#11a7f7; font-weight: bold;}

.empha22 {font-size:18px; color:#11a7f7; font-weight: bold;}

.emphaW {font-size:23px; color:#ef473a; font-weight: bold;}



.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  border-color: #11a7f7;
  background-color: #11a7f7;
}

.step1Text {font-size: 14px;}

.errorText {font-size:16px;color:#444;padding:16px;padding-bottom:0px;}
