<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

<script src="js/aes1.js" ></script>

<script src="lib/forge/forge.min.js"></script>

    <!-- ionic/angularjs js -->

  <script src="lib/ionic/js/ionic.bundle.js"></script>



  <script src="lib/ionic/js/angular/angular-resource.min.js"></script>
  <script src="js/angular-cookies.js"></script>


    <!-- cordova script (this will be a 404 during development) -->
    <!-- ngCordova is a wrapper that allows one to use Cordova plugins in ionic apps :)
    btw: USING BLE version of ngCordova.min.js by randdusing
     -->
    <script src="js/ng-cordova.min.js"></script>
  <script src="js/ng-cordova-bluetoothle.min.js"></script>
    <script src="cordova.js"></script>





    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

  <script src="js/angular-base64.min.js"></script>

    		<script id="menu.html" type="text/ng-template"></script>


  </head>
  <body ng-app="starter" class="platform-android platform-cordova platform-webview">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-positive">
      <!--  <ion-nav-back-button>
        </ion-nav-back-button>-->

    <!--  <ion-nav-buttons side="right">
     <button class="button button-clear" ng-click="show.modal()" style="margin-right:8px;"><img src="img/lock.png" /></button>
  </ion-nav-buttons>-->

    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view>   </ion-nav-view>

  </body>
</html>
